/* ***Diseños generales del body: HEADER / MAIN / FOOTER***  */

/*Diseños del body*/
body{
    background-color: #EDE9DD ;
    background-image: url(/Resources/General/bg_rainforest.png);
    background-size: cover;
    background-attachment: fixed;
}

/*Diseño del contenedor externo*/
.external_container{

    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
    background-color: white;
    padding: 0;
    width: 90%;
    border: 5px solid #3a3a3a9a;
    border-radius: 15px;

}

/*Diseño general interno*/
header, main, footer{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

/*Diseños del Header*/
.Container_header_menu{
    background-color: #3a3a3a9a;
    display: flex;
    justify-content: space-evenly;
  /* background: linear-gradient(125deg, #8D5A4A, #EDE9DD); */
    height: 50px;
}

.botones_menu{

    height: 50%;
    background: none;
    border: none;
    margin-top: 3%;
}

.botones_menu:hover{
    background-color: #3a3a3ab6;
}

.link_botones{
    text-decoration: none;
    color: black;
}

.botones_menu.active {
    background-color: #6c757d;
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
}

/*Diseños del Main*/

    /*Index.HTML*/

    .nombre_hotel{

        display: flex;
        flex-direction: column;
        background-color: #58914e;
        margin-left: 1%;
        height: 1% auto;
        width: 23%;
        text-align: center;

    }

/*Diseños del Footer*/

    /*Index.HTML*/

    .container_footer_subcontainers{

        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;


    }


    .container_footer_home{

        margin: 1%;
        height: 1% auto;
        width: 23%;
        background-color: #3a3a3a9a;

    }

    .container_footer_rooms{

        margin: 1%;
        height: 1% auto;
        width: 23%;
        background-color: #3a3a3a5a;

    }

    .container_footer_experiences{

        margin: 1%;
        height: 1% auto;
        width: 23%;
        background-color: #3a3a3a3a;

    }

    .container_footer_gallery{

        margin: 1%;
        height: 1% auto;
        width: 23%;
        background-color: #3a3a3a1a;

    
    }

    .container_footer_general_others{

        text-align: center;

    }