/* ***Diseños generales del body: HEADER / MAIN / FOOTER***  */

/*Diseños general del body*/
body{
    background-color: #EDE9DD ;
    background-image: url(../Resources/General/bg_rainforest.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #021c1e6b;
}

/*Diseño del contenedor externo*/
.external_container{

    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 8%;
    background-color: rgb(252, 243, 243);
    padding: 0;
    width: 96%;
    overflow: hidden;
    background-color: #3a3a3a8a;
    border-radius: 15px;

}

/*Diseños del Header*/
.Container_header_menu{
    background-color: #021c1e6b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  /* background: linear-gradient(125deg, #8D5A4A, #EDE9DD); */
    height: 50px;
}
/* -------------Menu------------- */
nav{
    height: 100%;
    width: 100%;
    margin: 0px 20px 0px 15px;
    display: flex;
    justify-content: space-between;
}

.logo-section{
    width: 100px; /* Ancho del recorte */
    height: 100px; /* Altura del recorte */
    overflow: hidden; /* Oculta el contenido que exceda los límites */
    position: relative;
}

.logo-section img{
    width: 100%; /* Ajusta según necesites */
    height: auto;
    position: absolute; /* Permite mover la imagen */
    top: -25px; /* Ajusta para centrar */
}

.end-section{
    height: 100%;
    display: flex;
}

.end-section button{
    display: none;
}

.botones_menu{
    height: 100%;
    background: none;
    border: none;
}
.botones_menu:hover{
    background-color: #021c1e6a;
}
.link_botones{
    text-decoration: none;
    font-size: clamp(0.7rem, 1.2vw, 1.3rem);
    color: #c6c5c1;
}
.botones_menu.active {
    background-color: #021c1e7d;
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
}

/*Diseños del Main*/

            /* --------------------Index---------------------*/

    /* --------------Seccion descripcion hotel + video------------ */
    .idx_main_container{

        display: flex;
        flex-direction: row;
        width: 100%;
        height: 500px;
        gap: 1%;
        padding: 0;
        margin: 0;
    }

    .nombre_hotel{
        font-size: clamp(0.6rem, 1vw, 1rem);
        color: #c6c5c1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        overflow: hidden;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7);
        background-color: #0044459b;
        margin-left: 1%;
        text-align: center;
    }

    .nombre_hotel h2{
        font-size: clamp(1.3rem, 1.6rem, 2.2rem);
    }

    .idx_container_video{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-right: 2%;

    }

    .idx_container_video video{

        object-fit: cover;
        
        width: auto;
        height: 100%;
        border-radius: 10px;
        margin-right: 1%;

    }

/* ------------- Seccion Diferenciales --------------------- */

.diferenciales {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1%;
    
}
.dif-uno, .dif-dos, .dif-tres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    perspective: 1000px;
}
.cara {
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
    background-color: #0044459b;
    color: #c6c5c1;
}
.frontal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5%;
    width: 100%;
    height: 100%;
}
.trasera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: rotateY(180deg);
}
.desayuno_logo{
    width: 150px;
}
.rooms_logo{
    width: 150px;
}
.experiencias_logo{
    width: 150px;
}
.dif-uno:hover .trasera{
    transform: rotateY(0deg);
}
.dif-uno:hover .frontal{
    transform: rotateY(180deg);
}
.dif-dos:hover .trasera{
    transform: rotateY(0deg);
}
.dif-dos:hover .frontal{
    transform: rotateY(180deg);
}
.dif-tres:hover .trasera{
    transform: rotateY(0deg);
}
.dif-tres:hover .frontal{
    transform: rotateY(180deg);
}


/* Seccio comentarios */

.caja-comentarios{
    margin: 2%;
    height: 150px;
    border-radius: 10px;
    background-color: #0044459b;
    display: flex;
}

.comentarios{
    display: flex;
    flex-direction: column;
}

.caja-comentarios img{
width: 140px;
border-radius: 10px;
margin-right: 2%;
}







/*Footer*/

.container_footer_general_others{

    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #c6c5c1;

}


/*--------------Final del index-------------------*/


/*----------------Login-------------------*/

#login_box{
    font-size: clamp(7px, 1vw, 13px);
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7);
    width: 25%;
    height: 465px;
    border-radius: 15px;
    background-color: #0044459b;
    color: #c6c5c1;
}

#login_box a {

    color: #c6c5c1;

}

.video_login {
    width: 65%;
    height: 465px;
    overflow: hidden;/* Relación vertical (puedes ajustarla según el fragmento que desees mostrar) */
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7);
}
.botones_login{
    font-size: clamp(8px, 1vw, 18px);
}
.seccion_login{
    height: 500px;
}
.video_login video {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño del video para que cubra el contenedor */
}

#register_box{
    background-color: #0044459b;
    width: 500px;
    height: 900px;
    border-radius: 15px;
}


/*-------------------------Contact---------------------*/

.contenedor_formulario_contacto{
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7);
    background-color: #0044459b;
    color: #c6c5c1;
}

.contenedorInfo {
    background-color: rgba(185, 185, 185, 0.801);
    width: 400px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7);
    background-color: #0044459b;
    color: #c6c5c1;
}

.logos_redes {
    height: 60px;
}

.logos_redes:first-child{
    height: 54px;
}



/*-------------------------About_Us---------------------*/

.aboutUs_hotel{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(12px, 1vw, 16px);
    display: block;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 5px 10px rgb(0, 0, 0, 0.7);
    margin: 15px auto;
    text-align: center;
    background-color: #0044459b;
    color: #c6c5c1;
    
}

h1 , h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(25px, 5vw, 50px);
    color: #c6c5c1;
    text-align: center;
}

.imagenAbout{ /*Imagen principal de la pantalla About_Us*/
    display: block;
    width: 95%;
    height: auto;
    padding:0;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 8px 2px 8px rgb(0, 0, 0, 0.7);
}


/*-------------------------Servicios---------------------*/

/* ------------- Seccion Diferenciales Servicios --------------------- */

.diferencialesServicios {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.difSer-uno, .difSer-dos, .difSer-tres, .difSer-cuatro, .difSer-cinco {
    justify-content: center;
    align-items: center;
    color: white; 
    height: 300px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
 /* box-shadow: 15px 15px 10px rgb(0, 0, 0, 0.7); */
    perspective: 1000px;
    margin: 1%;
}
.caraSer {
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
    
}

.frontalSer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: #0044459b;
    color: #c6c5c1;
}
.traseraSer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: rotateY(180deg);
    padding: 30px;
    background-color: #0044459b;
    color: #c6c5c1;
}

.difSer-uno:hover .traseraSer{
    transform: rotateY(0deg);
}
.difSer-uno:hover .frontalSer{
    transform: rotateY(180deg);
}
.difSer-dos:hover .traseraSer{
    transform: rotateY(0deg);
}
.difSer-dos:hover .frontalSer{
    transform: rotateY(180deg);
}
.difSer-tres:hover .traseraSer{
    transform: rotateY(0deg);
}
.difSer-tres:hover .frontalSer{
    transform: rotateY(180deg);
}

.difSer-cuatro:hover .traseraSer{
    transform: rotateY(0deg);
}
.difSer-cuatro:hover .frontalSer{
    transform: rotateY(180deg);
}

.difSer-cinco:hover .traseraSer{
    transform: rotateY(0deg);
}
.difSer-cinco:hover .frontalSer{
    transform: rotateY(180deg);
}

.contenedor_galeria{
    display: flex;
    justify-content: center;
}

#galeria{
    display: flex;
    width: 1500px;

}

#galeria img{
width: 0px;
flex-grow: 1;
object-fit: cover;
height: 500px;
transition: 1s ease;
}

#galeria img:hover{
    cursor: crosshair;
    width: 300px;
    filter: contrast(120%);
}


.formato_img{
    display: block;
    width: 50%;
    height: 40%;
    padding:0;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 4px 2px 4px rgb(0, 0, 0, 0.7);
}




/* ------------Seccion mapa---------*/
.seccion-mapa{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenedor-mapa{
    background-color: #0044459b;
    color: #c6c5c1;
    padding-bottom: 50px;
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}


/*-----------------------Seccion 404--------------------*/

.seccion404{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px;

}


.contenedor404{
    height: 500px;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #0044459b;
    border-radius: 20px;


}

.formato_img2{
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 0;
    border-radius: 15px;
}


/* ------------- Resenas- slide infinito --------------------- */

.slider{
    width:75%;
    height: auto;
    margin:  auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(300px * 6);
}

.slider .slide{
    width: 100%;
}

.slider .slide img{
    width: 300%;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-300px*3));
        transform: translateX(calc(-300px*3));
    }
}

